html {
    background-color: cornsilk;
  }

body {
    margin-bottom: 30px;
}
  
  h1 {
    font-weight: 700;
    text-align: center;
    font-family: sans-serif;
  }
  
  h2, h3 {
    color: crimson;
    font-family: Georgia;
  }
  
  h1, h2, h3 {
    text-align: center;
  }

  /*TABLE*/

  table {
    width: 700px;
    margin: auto;
    padding: 0px;
  }

  th, td {
    padding: 7px 10px 10px 10px;
  }

  th {
    text-align: left;
    text-transform: uppercase;
    font-family: Arial, Verdana, sans-serif;
    background-color: crimson;
    color: #ffffff;
  }

  td {
    text-align: left;
    font-size: 15px;
  }

  tr.even {
    background-color: #dc143c20;
  }

  tr.odd {
    background-color: #ffffff;
  }

  .code {
    font-family: "Lucida Console", Courier, monospace;
    padding: 3px;
    background-color: #ffffff;
    font-size: 14px;
  }
